build/
logs/concordia-server.log
logs/pgbouncer.log
logs/phrase-searches.json
concordia.cfg
concordia-server/config.hpp
index/
scripts/concordia-server.PID
scripts/start.sh
scripts/stop.sh
scripts/restart.sh
scripts/watchdog.sh
scripts/watchdog.log
db/pgbouncer.pid
db/pgbouncer.ini
upstart/concordia-server.conf
upstart/pgbouncer.conf
upstart/lemmagen.conf
cat/host.cfg
mgiza-aligner/mgiza/mgizapp/CMakeCache.txt
mgiza-aligner/mgiza/mgizapp/CMakeFiles/
mgiza-aligner/mgiza/mgizapp/Makefile
mgiza-aligner/mgiza/mgizapp/bin/
mgiza-aligner/mgiza/mgizapp/cmake_install.cmake
mgiza-aligner/mgiza/mgizapp/lib/
mgiza-aligner/mgiza/mgizapp/scripts/CMakeFiles/
mgiza-aligner/mgiza/mgizapp/scripts/Makefile
mgiza-aligner/mgiza/mgizapp/scripts/cmake_install.cmake
mgiza-aligner/mgiza/mgizapp/src/-MT
mgiza-aligner/mgiza/mgizapp/src/CMakeFiles/
mgiza-aligner/mgiza/mgizapp/src/Makefile
mgiza-aligner/mgiza/mgizapp/src/cmake_install.cmake
mgiza-aligner/mgiza/mgizapp/src/mkcls/-MT
mgiza-aligner/mgiza/mgizapp/src/mkcls/CMakeFiles/
mgiza-aligner/mgiza/mgizapp/src/mkcls/Makefile
mgiza-aligner/mgiza/mgizapp/src/mkcls/cmake_install.cmake
__pycache__
import-requests/request_handler.log
